.DS_Store
__pycache__
*.pyc
*.pyo
*.pyd
*.pyw
*.pyz
.env
prompts/
debug_logs/
data/

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Environment variables
.env
.env.*
!.env.example

**.log

**/*email.txt