# 逐步验证需求

## 自动化使用playwright打开浏览器，然后访问页面
1. 打开并访问页面： ipfighter.com/en

## 邮件服务使用 outlook imap
IMAP 服务器     outlook.office365.com
IMAP 端口       993
IMAP 加密       SSL/TLS
身份验证方法    OAuth2/现代身份验证

## 打开浏览器时使用代理
1. 支持http和socks5协议， 默认以http://127.0.0.1:7890进行测试

## 从邮件中提取最近的邮件中的验证码，进行测试

## 